* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.back__click {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 2;
  background-color: white;
  padding: 10px 15px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px black;
          box-shadow: 0px 4px 4px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.back__click .fas {
  font-size: 15px;
  color: black;
}

.background {
  width: 100%;
  min-height: 100%;
  background-image: url("images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180% 150%;
  opacity: .7;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.background2 {
  background-image: url("images/background3.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: calc(100vh + 100px);
  position: relative;
}

.first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.logo__picture {
  -webkit-transition: 2s;
  transition: 2s;
  width: 100px;
}

.logo__picture img {
  width: 100%;
}

.logo__text {
  text-align: center;
  margin-bottom: 100px;
}

.logo__text p {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: 400;
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
}

.logo__text p.title {
  font-size: 2em;
}

.secound-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.cbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 70vw;
  max-width: 700px;
  height: 50vh;
  max-height: 700px;
  margin-bottom: 50px;
}

.cbox__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
  border: 2px solid white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: .7;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.cbox__box p {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  font-weight: 500;
  color: white;
}

.cbox__box:hover {
  opacity: 1;
  -webkit-box-shadow: 4px 4px 4px #000000;
          box-shadow: 4px 4px 4px #000000;
}

.cbox__box:hover p {
  color: white;
  text-shadow: 0px 4px 4px #000000;
}

.cbox__box.box1 {
  -webkit-animation: first_effect 3s;
          animation: first_effect 3s;
  background-image: url("images/box1miniature.JPG");
}

.cbox__box.box2 {
  -webkit-animation: secound_effect 3s;
          animation: secound_effect 3s;
  background-image: url("images/box2miniature.JPG");
}

.cbox__box.box3 {
  -webkit-animation: thirt_effect 3s;
          animation: thirt_effect 3s;
  background-image: url("images/box3miniature.JPG");
}

.sbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70vw;
  max-width: 1000px;
  height: 30vh;
  max-height: 900px;
  margin-bottom: 50px;
  text-align: center;
}

.sbox .sbox__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  min-height: 100px;
  border: 2px solid black;
  height: 50%;
  opacity: .7;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.sbox .sbox__box p {
  font-size: 1em;
  text-shadow: 0px 4px 4px black;
}

.sbox .sbox__box p.title {
  font-size: 2em;
}

.sbox .sbox__box p.titlesmall {
  font-size: 1.3em;
  padding-bottom: 0;
}

.sbox .sbox__box:hover {
  opacity: 1;
}

.sbox .sbox__box:hover p {
  color: white;
  text-shadow: 0px 4px 4px black;
}

.sbox1 {
  background-image: url("images/opt2_1.jpg");
}

.sbox2 {
  background-image: url("images/opt2_2.jpg");
}

.sbox3 {
  background-image: url("images//opt2_3.jpg");
}

.sbox4 {
  background-image: url("images/opt2_4.jpg");
}

.weddingplanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weddingplanner__photo {
  background-image: url("images/sbox_1.jpg");
}

.weddingplanner__photo img {
  width: 80%;
  height: 500px;
}

.event__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 50px 20vw;
}

.event__text p {
  color: black;
  margin-top: 20px;
}

.event__text p.title {
  font-size: 2em;
  font-weight: 400;
  margin-top: 80px;
}

.event__text p.cennik__title {
  font-size: 2em;
  font-weight: 500;
}

.event__text p span {
  font-weight: bold;
}

.event__text li span {
  font-weight: bold;
}

.photo__properties {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50vh;
}

.social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  min-height: 50px;
}

.social_media img {
  width: 100%;
  height: auto;
  margin: 10px;
}

.imprezyfirmowe, .imprezyokolicznosciowe, .imprezykinder, .contact, .aboutus, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imprezyfirmowe__photo {
  background-image: url("images/sbox_2.JPG");
}

.imprezyokolicznosciowe__photo {
  background-image: url("images/sbox_3.JPG");
}

.imprezykinder__photo {
  background-image: url("images/sbox_4.JPG");
}

.contact__photo {
  background-image: url("images/lastphoto.JPG");
}

.display_invisible {
  display: none;
  width: 100%;
  height: 100%;
}

.aboutus__photo {
  background-image: URL("images/aboutus.JPG");
}

.aboutus__photo--secound {
  background-size: cover;
  background-image: URL("images/girls.JPG");
}

.aboutus__text p {
  padding: 50px 10vw;
}

.aboutus__text p span {
  font-weight: bold;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  padding-bottom: 5vh;
}

.blocks__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 550px;
  margin: 20px;
  background-color: #CF91A1;
  text-align: center;
  border-radius: 25px;
  padding: 30px;
}

.blocks__title {
  font-size: 1.2em;
  padding-bottom: 25px;
  color: white;
}

.blocks li {
  font-size: 1em;
  color: white;
  padding-bottom: 20px;
}

.cennik__title {
  font-size: 2em;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100px;
  padding: 20px;
  background-color: #CF91A1;
  border-radius: 0px 0px 25px 25px;
  text-align: center;
}

.footer p {
  color: white;
  font-size: 1em;
  font-weight: 400;
}

.footer img {
  width: 50px;
  margin-right: 30px;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  max-width: 400px;
  min-height: 350px;
  background-color: #CF91A1;
  margin-bottom: 50px;
  border-radius: 25px;
  text-align: center;
}

.slider span {
  font-size: 1.5em;
  font-weight: 500;
}

.tekst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.tekst p {
  font-size: 1em;
  color: white;
  position: absolute;
  padding: 40px;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.podpis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.podpis p {
  position: absolute;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.text + .text {
  opacity: 0;
}

.pdp + .pdp {
  opacity: 0;
}

.font__size {
  font-size: 1.15em;
  margin: 50px 0px;
  line-height: 2em;
}

.animation1 {
  -webkit-animation: first_effect 1.5s;
          animation: first_effect 1.5s;
}

.animation2 {
  -webkit-animation: secound_effect 1.5s;
          animation: secound_effect 1.5s;
}

.animation3 {
  -webkit-animation: thirt_effect 1.5s;
          animation: thirt_effect 1.5s;
}

.animation4 {
  -webkit-animation: four_effect 1.5s;
          animation: four_effect 1.5s;
}

@media all and (max-width: 1700px) {
  .blocks .blocks__info {
    width: 40%;
    height: 400px;
  }
}

@media all and (max-width: 1550px) {
  .blocks .blocks__info {
    width: 50%;
    height: 100%;
  }
}

@media all and (min-width: 1400px) {
  .font__size {
    font-size: 1.3em;
  }
  .background2 {
    opacity: .7;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

@media all and (orientation: portrait) {
  .logo__text {
    margin-bottom: 10px;
  }
  .background {
    background-size: cover;
    background-repeat: repeat;
  }
  .cbox .cbox__box {
    opacity: 1;
  }
  .cbox .cbox__box p {
    font-size: 40px;
  }
  .sbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .sbox .sbox__box {
    opacity: 1;
    width: 100%;
  }
  .sbox .sbox__box p {
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 5px;
  }
  .event__text, .aboutus__text, .cennik__text {
    padding: 5vw;
  }
  .event__text p.title, .event__text p.cennik__title {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .event__text p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    text-align: center;
  }
  .event__text li {
    text-align: center;
    padding-bottom: 5px;
  }
  .photo__properties {
    height: 50vw;
  }
  .blocks .blocks__info {
    width: 80%;
    height: 100%;
  }
  .footer p {
    font-size: 12px;
  }
  .font__size {
    font-size: 1em;
  }
}

@media all and (max-width: 450px) {
  * {
    padding: 0;
  }
  ul li {
    list-style-type: none;
  }
  .aboutus__text, .event__text {
    text-align: center;
  }
  .sbox .sbox__box p.title {
    font-size: 1.5em;
  }
  .tekst p {
    font-size: .7em;
  }
  .podpis p {
    font-size: 1em;
  }
  .cbox .cbox__box p {
    font-size: 2.5em;
  }
}

@media all and (max-width: 625px) {
  .sbox .sbox__box p.titlesmall {
    font-size: 1.2em;
  }
}

@-webkit-keyframes first_effect {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes first_effect {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes secound_effect {
  0% {
    display: none;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secound_effect {
  0% {
    display: none;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes thirt_effect {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes thirt_effect {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes four_effect {
  0% {
    display: none;
    opacity: 0;
  }
  75% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes four_effect {
  0% {
    display: none;
    opacity: 0;
  }
  75% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */