* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.back__click {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 2;
  background-color: white;
  padding: 25px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px black;
          box-shadow: 0px 4px 4px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.back__click .fas {
  font-size: 20px;
  color: black;
}

.background {
  width: 100%;
  min-height: 100%;
  background-image: url("images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180% 150%;
  opacity: .7;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.background2 {
  background-image: url("images/background2.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .6;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: -1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: calc(100vh + 100px);
  position: relative;
}

.first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.logo__picture {
  -webkit-transition: 2s;
  transition: 2s;
  width: 100px;
}

.logo__picture:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.logo__picture img {
  width: 100%;
}

.logo__text {
  text-align: center;
}

.logo__text p {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: 400;
}

.logo__text p.title {
  font-size: 20px;
}

.secound-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.cbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 50vw;
  max-width: 600px;
  height: 50vh;
}

.cbox__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: .7;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.cbox__box p {
  text-shadow: 0px 4px 4px #ffffff;
  font-weight: 500;
}

.cbox__box:hover {
  opacity: 1;
  -webkit-box-shadow: 4px 4px 4px #000000;
          box-shadow: 4px 4px 4px #000000;
}

.cbox__box:hover p {
  color: white;
  text-shadow: 0px 4px 4px #000000;
}

.cbox__box.box1 {
  -webkit-animation: first_effect 3s;
          animation: first_effect 3s;
  background-image: url("images/box_1.JPG");
}

.cbox__box.box2 {
  -webkit-animation: secound_effect 3s;
          animation: secound_effect 3s;
  background-image: url("images/box_2.JPG");
}

.cbox__box.box3 {
  -webkit-animation: thirt_effect 3s;
          animation: thirt_effect 3s;
  background-image: url("images/box_3.JPG");
}

.cbox__box p {
  font-size: 50px;
}

.sbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  max-width: 1000px;
  height: 40vh;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.sbox__up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sbox__up--left {
  -webkit-animation: first_effect  1.5s;
          animation: first_effect  1.5s;
  height: 100%;
  background-image: url("images/sbox_1.png");
  background-color: aqua;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sbox__up--right {
  -webkit-animation: secound_effect  1.5s;
          animation: secound_effect  1.5s;
  height: 100%;
  background-color: aquamarine;
  background-image: url("images/sbox_2.png");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sbox__down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sbox__down--left {
  -webkit-animation: thirt_effect 1.5s;
          animation: thirt_effect 1.5s;
  height: 100%;
  background-color: burlywood;
  background-image: url("images/sbox_3.png");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sbox__down--right {
  -webkit-animation: four_effect  1.5s;
          animation: four_effect  1.5s;
  height: 100%;
  background-color: chartreuse;
  background-image: url("images/sbox_4.png");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sbox .sbox__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  opacity: .5;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
  text-align: center;
}

.sbox .sbox__box p {
  font-size: 40px;
  text-shadow: 0px 4px 4px white;
}

.sbox .sbox__box p.title {
  font-size: 25px;
}

.sbox .sbox__box:hover {
  opacity: 1;
}

.sbox .sbox__box:hover p {
  color: white;
  text-shadow: 0px 4px 4px black;
}

.weddingplanner {
  margin-top: 50px;
}

.weddingplanner__photo {
  background-image: url("images/jeden.JPG");
}

.weddingplanner__photo img {
  width: 100%;
  height: 500px;
}

.event__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 5vw 25vw;
}

.event__text p {
  color: black;
  padding: 10px;
  font-size: 25px;
}

.event__text p.title {
  font-size: 40px;
  font-weight: 400;
  margin-left: -30vw;
}

.event__text p.cennik__title {
  font-size: 40px;
  font-weight: 500;
  margin-left: -30vw;
}

.event__text p span {
  font-weight: bold;
}

.event__text li span {
  font-weight: bold;
}

.photo__properties {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 700px;
}

.imprezyfirmowe__photo {
  background-image: url("images/sbox_2.JPG");
}

.imprezyokolicznosciowe__photo {
  background-image: url("images/sbox_3.JPG");
}

.imprezykinder__photo {
  background-image: url("images/sbox_4.JPG");
}

.contact__photo {
  background-image: url("images/lastphoto.JPG");
}

.display_invisible {
  display: none;
  width: 100%;
  height: 100%;
}

.aboutus__photo {
  background-image: URL("images/aboutus.JPG");
}

.aboutus__photo--secound {
  background-size: cover;
  background-image: URL("images/girls.JPG");
}

.aboutus__text {
  padding: 5vw 25vw;
}

.aboutus__text p {
  font-size: 20px;
}

.aboutus__text p span {
  font-weight: bold;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100vw;
  padding-bottom: 5vh;
}

.blocks__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 515px;
  min-width: 350px;
  max-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  background-color: #CF91A1;
  text-align: center;
  border-radius: 25px;
  padding: 30px;
}

.blocks__title {
  padding-bottom: 25px;
  color: white;
}

.blocks p {
  font-size: 20px;
}

.blocks li {
  font-size: 14px;
  color: white;
  padding-bottom: 20px;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100px;
  background-color: #CF91A1;
  border-radius: 0px 0px 25px 25px;
  text-align: center;
}

.footer p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.footer img {
  width: 50px;
  margin-right: 30px;
}

@media all and (orientation: portrait) {
  .background {
    background-size: cover;
    background-repeat: repeat;
  }
  .cbox .cbox__box {
    opacity: 1;
  }
  .sbox__up, .sbox__down, .sbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .sbox .sbox__box {
    opacity: 1;
  }
  .sbox .sbox__box p {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    padding: 5px;
  }
  .event__text, .aboutus__text, .cennik__text {
    padding: 5vw;
  }
  .event__text p.title, .event__text p.cennik__title {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .event__text p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    text-align: center;
  }
  .event__text li {
    text-align: center;
    padding-bottom: 5px;
  }
  .photo__properties {
    height: 40vh;
  }
  .blocks__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes first_effect {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

@keyframes first_effect {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

@-webkit-keyframes secound_effect {
  0% {
    display: none;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

@keyframes secound_effect {
  0% {
    display: none;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

@-webkit-keyframes thirt_effect {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: .7;
  }
}

@keyframes thirt_effect {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: .7;
  }
}

@-webkit-keyframes four_effect {
  0% {
    display: none;
    opacity: 0;
  }
  75% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: .7;
  }
}

@keyframes four_effect {
  0% {
    display: none;
    opacity: 0;
  }
  75% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: .7;
  }
}
/*# sourceMappingURL=style.css.map */